body {
  margin: 0;
  background-color: '#ffccbc';
  background-image: url('./backgroundImage.jpg');
  background-repeat: no-repeat;
  /* background-size: cover; */
  padding: 0;
}

@media (min-width: 576px) {
  body {
    background-size: cover;
    background-position: left 25%;
  }
}

.material-icons.orange600 {
  color: #eb7c14;
}

main {
  background: linear-gradient(
    to bottom,
    rgba(89, 155, 163, 0.65) 0%,
    rgba(89, 155, 163, 0.65) 30%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  background-repeat: no-repeat;
}
