body {
  margin: 0;
  /* background-size: cover; */
  padding: 0;
}

html {
  overflow: hidden;
}

/* @media (min-width: 576px) {
  body {
    background-size: ;
  }
} */

.material-icons.orange600 {
  color: #eb7c14;
}
