.material-icons.orange600 {
	color: #eb7c14;
}
.homeDiv {
	background-image: url('https://cdn141.picsart.com/265845198000202.jpg?r1024x1024');
	width: 100%;
	height: 100%;
}
/* .classdiv{} */
/* .classdiv{} */
.tryToFix {
	height: 20px;
}
