body {
  margin: 0;
}
.material-icons.orange600 {
  color: #eb7c14;
}
.homeDiv {
  background-image: url("./backgroundImage.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
}
main {
  padding: 0;
}
